.menu-container-dish {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu-container-dish:nth-child(2) {
    animation-delay: 1s;
}

.menu-container-dish:nth-child(3) {
    animation-delay: 2s;
}

.menu-container-dish:nth-child(4) {
    animation-delay: 3s;
}