.menu-container-dish-item {
    .green-box {

        position: relative;
        height: 100%;
        width: 0px;
        background-color: #99E2D0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        // border-radius: 15px;
        // animation: slideIn 1s ease-in-out forwards;

        svg {
            background-color: #FFFFFF;
            border-radius: 20px;
            height: 20px;
            width: 20px;
            fill: #99E2D0;
            // animation: fadeIn 1s ease-in-out forwards;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2px;
            box-sizing: border-box;
        }
    }
    
    &:hover .green-box {
        animation: slideIn 0.5s ease-in-out forwards;
    
        svg {
          animation: fadeIn 0.5s ease-in-out forwards;
        }
      }
    
      &:not(:hover) .green-box {
        animation: slideOut 0.5s ease-in-out forwards;
    
        svg {
          animation: fadeOut 0.5s ease-in-out forwards;
        }
      }
     
}



// .menu-container-dish-item:not(:hover) {
//     .green-box {
//         animation: fadeOut 1s ease-in-out forwards;
//     }

//     svg {
//       animation: fadeOut 1s ease-in-out forwards;
//     }

//     @keyframes fadeOut {
//         from {
//             opacity: 1;
//         }
//         to {
//             opacity: 0;
//         }
//     }


@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 59px;
    }
}

@keyframes slideOut {
    from {
        width: 59px;
    }
    to {
        width: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}  

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}